{{> head }}

{{> navbar }}
<h1>About Page</h1>
<div class="row">
    <div class="col-8">
        <h1>Jorge Abimael Lara Ticona</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consectetur placeat quos ipsam eaque possimus atque eos velit voluptas? Adipisci hic vero facere ea id ipsum dignissimos! Sint adipisci expedita aliquam cumque ad delectus doloremque iusto, doloribus ducimus iure corporis ullam, culpa maxime dolorem placeat hic officia obcaecati quaerat, facere quam laboriosam aspernatur similique harum quas! Perspiciatis omnis quibusdam, quasi error facilis laboriosam, voluptatibus ipsum itaque, assumenda temporibus ut quia ullam ratione inventore amet illum minima nostrum rerum commodi autem quisquam dicta soluta. Sunt voluptatibus similique fuga commodi inventore facilis eligendi, quod sed esse. Itaque error, sint quis amet magni quidem.</p>
    </div>
    <div class="col-4">
        <img src="../public/assets/img/foto.jpg" alt="Foto" class="img-thumbnail">
    </div>
</div>
{{> footer }} 